<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="singleplayer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>SinglePlayer</title>
</head>
<body>
    <div class="navbar h-20">
        <span class="Wordle py-2">Wordle</span>
        <div class="btn-grp">
            <button type="button" class="btn home bg-gradient-to-r from-blue-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500"onClick="location.href='/'">Home</button>
            <button type="button"class="btn settings bg-gradient-to-r from-blue-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500"onClick="location.href='/settings'">Settings</button>
            <button id="myBtn" type="button"class="btn abt bg-gradient-to-r from-blue-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500">About</button>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <p>Welcome to Wordle, the exciting word puzzle game that challenges your vocabulary and creativity! In this game, you have to guess the word.<br><br> 
                    You have to type in a word which is present in the wordlist.<br>
                    If the word is present there will be any of the following outcomes to the letter:<br><br>
                            -The letter will be <span style="color:green">green</span> if the letter exists and is in the correct place.<br><br>
                            -The letter will be <span style="color:yellow">yellow</span> if the letter exists and isn't in the correct place.<br><br>
                            -The letter will be <span style="color:gray">gray</span> if the letter doesn't exist.<br><br>
                    Software and Platforms:<br><br>
                    Wordle was developed using HTML5,CSS and JavaScript, and is available on all major web browsers and is compatible only on laptops.
                    <br><br>
                    For any bug fixes please contact <u style="color:blue"><a href="mailto:paivikas1402@gmail.com">paivikas1402@gmail.com</a></u>.<br><br>
                <span style="margin: 30%;">Made with ❤️ by Vikas Pai</span></p>
                </div>
              
            </div>
        </div>
    </div>
    <div class="wordlebox text-center flex-grow ">
        
    </div>
    <div class="result"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="module" src="singleplayer.js"></script>
</body>
</html>