body{
  margin: 0;
  background-color: #F6E278;
  font-family:'Press Start 2P';
}
.hr{
  border-style: dashed;
  border-color: #000000;
  border-top-width:  0;
  margin-left: 0;
}
.btn {

  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Press Start 2P';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  opacity: 100%;
}



.btn-grp{
 float:right;
}
.btn:active {
  transform: translateY(4px);
}
.navbar{
  padding: 15px;
  background-color: #6dd47e;
}
.Wordle{
  color: #BCF4F5;
  height: 50px;
  width: 50px;
  margin: 0,auto;
  font-size: 3rem;
  padding: 2px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.wordlebox{
  position: absolute; 
  left: 0; 
  right: 0;
  margin-top: 30px; 
  margin-left: auto; 
  margin-right: auto; 
  width: 700px;
}
.a,.b,.c,.d,.e,.f,.g,.h,.i,.j{
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 100%;
  margin-bottom: 10px;
  border-width: 5px;
  text-align: center;
  border-style: dashed;
  border-color: gray;
  text-indent: 10px;
  letter-spacing: 10px;
  caret-color: transparent;
  font-weight: bold;
}
input[type='text']
{
  margin: 5px;
}
.animated {
  animation: flip ease 0.5s;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.result{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: 7px;
}